/**
 * functions
 */
/**
 * Respond to mixin for use with susy grids and breakpoint
 */
/**
 * Utility Mixins
 */
/*******************************************************************************
 * wrappers.layout.scss
 *
 * Styling of the "wrappers" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page,
.zone {
  width: 100%;
  position: relative;
}

.l-header {
  position: relative;
}

/* .l-header, */
.l-branding,
.l-navigation,
.l-breadcrumb,
.l-highlight,
.l-preface,
.l-main,
.l-postscript,
.l-footer,
.l-footer-sub {
  *zoom: 1;
  max-width: 71.6em;
  _width: 71.6em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.l-branding:after,
.l-navigation:after,
.l-breadcrumb:after,
.l-highlight:after,
.l-preface:after,
.l-main:after,
.l-postscript:after,
.l-footer:after,
.l-footer-sub:after {
  content: "";
  display: table;
  clear: both;
}

.l-branding {
  text-align: center;
  /*
    @include respond-to($medium) {
      @include span-columns(12);
    }
  */
}
.l-branding .site-logo img {
  width: 100%;
  height: auto;
}

.l-region--header {
  /*
    position: relative;
    @include respond-to($medium) {
      @include span-columns(12);
    }
  */
}

@media screen and (min-width: 56.25em) {
  /* Content Area */
  .l-content {
    width: 100%;
    float: left;
    margin-right: 1.5625%;
    display: inline;
    margin-bottom: 3em;
  }

  /* Sidebars */
  .has-one-sidebar .l-content {
    width: 66.14583%;
    float: left;
    margin-right: 1.5625%;
    display: inline;
  }
  .has-one-sidebar .l-sidebar-first {
    width: 32.29167%;
    float: left;
    margin-right: 1.5625%;
    display: inline;
  }
  .has-one-sidebar .l-sidebar-second {
    width: 32.29167%;
    float: left;
    margin-right: 1.5625%;
    display: inline;
    float: right;
    margin-right: 0;
    *margin-left: -1.2em;
    display: inline;
  }
  .has-one-sidebar.has-sidebar-first .l-content {
    float: right;
    margin-right: 0;
    *margin-left: -1.2em;
    display: inline;
  }

  .has-two-sidebars .l-sidebar-first {
    width: 23.82812%;
    float: left;
    margin-right: 1.5625%;
    display: inline;
  }
  .has-two-sidebars .l-content {
    width: 40.75521%;
    float: left;
    margin-right: 1.5625%;
    display: inline;
  }
  .has-two-sidebars .l-sidebar-second {
    width: 32.29167%;
    float: left;
    margin-right: 1.5625%;
    display: inline;
    float: right;
    margin-right: 0;
    *margin-left: -1.2em;
    display: inline;
  }
}
.l-region--help,
.l-sidebar-first,
.l-sidebar-second {
  margin-bottom: 1.5em;
}
