.pager {
  margin-top: 1em;
  padding-left: 0;
  text-align: center;
  
  > li {
    display: inline-block !important;
    list-style: none outside none !important;
    text-align: center;
    
    a {
      display: inline-block;
      line-height: 1;
      padding-right: 0.625em;
      margin-right: 0.625em;
    }
      
    &:first-child a {
      padding-left: 0;
    }
    
    &:last-child a {
      margin-right: 0;
      padding-right: 0;
    }
  }
}